asgiref==3.6.0
attrs==23.1.0
certifi==2022.12.7
Django==4.2
django-cors-headers==3.14.0
django-elasticsearch-dsl==7.3
django-elasticsearch-dsl-drf==0.22.5
django-filter==23.1
django-nine==0.2.7
django-rest-framework-nested==0.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.26.2
drf-spectacular-sidecar==2023.4.1
elasticsearch==7.17.9
elasticsearch-dsl==7.4.1
inflection==0.5.1
jsonschema==4.17.3
Markdown==3.4.3
packaging==23.1
Pillow==9.5.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
PyJWT==2.6.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
six==1.16.0
sqlparse==0.4.3
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.15
